.DS_Store
node_modules/
dist/
build/*
!build/.gitkeep
!build/debug/
!build/release/
build/debug/*
!build/debug/.gitkeep
build/release/*
!build/release/.gitkeep
/release/
/releases/
/main.js
.env
.env.local
AGENTS.md
spec/
